@emphasize: #0e73c8;

em {
    color: @emphasize;
    font-style: normal;
}

sup {
    color: #888;
}

.footnote {
    display: block;
    color: #888;
    font-size: 36px;
    margin-top: 20px;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    
    .presenter {
        color: @emphasize;
        position: absolute;
        font-size: 30px;
        right: 100px;
        top: 170px;
    }
    
    .date {
        position: absolute;
        font-size: 30px;
        right: 100px;
        top: 210px;
        font-weight: normal;
    }
}

#what {
    text-align: center;
}

#examples {
    text-align: center;
    height: 550px;
    
    img {
        position: absolute;
    }
    
    .gmail {
        top: 200px;
        left: 30px;
    }
    
    .ft {
        top: 180px;
        right: 100px;
    }
    
    .fq {
        top: 210px;
        left: 330px;
    }
    
    .linkedin {
        top: 390px;
        left: 440px;
    }
    
    .wunderkit {
        top: 370px;
        left: 200px;
    }
}

#mobile {
    
    a {
        background: none;
        
        
        img {
            width: 640px;
            height: 390px;
            margin: 30px auto 0;
            display: block;
        }
    }
}

#characteristics {
    
    ul {
        font-size: 30px;
        list-style: disc;
        margin: 20px 0 0 40px;
    }
}

.arch {
    height: 500px;
    position: relative;
    
    .box {
        width: 100%;
        height: 150px;
        border: 2px solid whitesmoke;
        border-radius: 10px;
        position: absolute;
        
        .title {
            position: absolute;
            text-transform: uppercase;
            font-size: 36px;
            left: -2px;
            top: -2px;
            color: #AAA;
            
            border: 2px solid whitesmoke;
            border-top-left-radius: 10px;
            border-bottom-right-radius: 10px;
            padding: 0px 10px;
        }
        
        .action {
            position: absolute;
            font-size: 36px;
            top: 45px;
            left: 240px;
            -webkit-transition: all 0.5s ease-in-out;
        }
    }
    
    .browser {
        top: 0px;
        
        img {
            position: absolute;
            top: 25px;
            left: 450px;
            -webkit-transition: all 0.5s ease-in-out;
        }
    }
    
    .db {
        height: 100px;
        bottom: 0px;
        border-color: #111;
        
        img {
            right: 40px;
            position: absolute;
            top: 25px;
        }
    }
    
    .server {
        top: 200px;
        
        img {
            position: absolute;
            top: 25px;
            left: 450px;
            -webkit-transition: all 0.5s ease-in-out;
        }
    }
    
    .down-request, .up-result, .up-request, .down-result {
        position: absolute;
        z-index: 10;
        width: 48px;
        height: 80px;
        background-repeat: no-repeat;
    }
    
    @overlap: -65px;
    @space: 40px;
    
    .up-result {
        background: url(../img/result.png);
        top: @overlap;
        right: @space * 2;
        -webkit-transform:rotate(180deg);
    }
    
    .down-request {
        background: url(../img/request.png);
        bottom: @overlap;
        right: @space * 1;
    }
    
    .up-request {
        top: @overlap;
        right: 0;
        background: url(../img/request.png);
        -webkit-transform:rotate(180deg);
    }
    
    .down-result {
        bottom: @overlap;
        right: @space * 3;
        background: url(../img/result.png);
    }
}

.step-arch2 #arch1, .step-overview #arch1 {
    opacity: 1;
    
    .browser {
        img {
            left: 680px;
        }
        .action {
            opacity: 0;
        }
    }
    
    .server img {
        opacity: 0;
    }
}

#arch2 {
    .json {
        font-size: 20px;
        position: absolute;
        top: 15px;
        right: 100px;
        font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
        
        .js-string {
            color: #D55;
        }
    }
    
    .box {
        border: 0;
    }
}

#thoughtworks {
    ul {
        font-size: 0.8em;
        list-style: disc;
        margin-left: 50px;
    }
}

#conclusion {
    text-align: center;
}

#checkout {
    text-align: center;
}

#contact {
    font-size: 36px;
    
    .thanks {
        text-transform: uppercase;
        color: @emphasize;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 46px;
    }
    
    p {
        margin-bottom: 10px;
    }
}
