#messageOut > div {
    border-bottom: 1px dotted #555;
    margin: 10px;
    padding-bottom: 10px;
}

#messageOut img {
    width: 48px;
    height: 48px;
}

#messageOut > div:nth-child(2n) {
    background: #FFFFDB;
}
